h1 {
    text-align: center;
    background-color: red;
    color: blue;
    padding: 30px;
    margin-top: 0px;
    opacity: 0.8;
}

footer {
    text-align: center;
    margin-bottom: 1000px;

}

button {
    margin-bottom: 30px;
    margin-top: 15px;
}

nav {
    background-color: blue;
    opacity: 0.9;
}

.divider {
    margin: 20px;
}

#photo {
    background: url("./photos/nasa-43979.jpg") no-repeat center center fixed;
    background-size: cover;
}

#back {
    background-color: rgba(255, 255, 255, 0.7)
}









