<main ng-controller="userController">

    <form action="">

        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" ng-model="person.username" required>

            <label><b>Password</b></label>

            <input type="password" placeholder="Enter Password" name="psw" ng-model="person.password" required>

            <button type="button" class="btn-md btn-success" ng-click="createUser(person)">Login</button>
        </div>
    </form>

<span ng-repeat="user in users"></span>
    {{user}}
</main>