div {
    margin-top: 15px;
    text-align: center;
    
}

h1{
    text-align: center;
}
button<div{
    
}

section{
    background-color: skyblue;
    padding-bottom: 30px;
    
}


.name{
    font-size: 2em;
   
    
}

.description{
    font-size: 1.2em;
    
}

input{
    display: inline-block;
}


